<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>write new chat</h3>
    <form method="post" action="/chat">
        <input placeholder="who are you" name="from">
        <textarea name="message">write your message here</textarea>
        <input placeholder="add receiver" name="to">
        <button>create chat</button>
    </form>
</body>
</html>